html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: 'Open-Sans';
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 1.2;
}

.text-h2 {
	color: var(--Dark, #000);
	text-align: center;
	font-feature-settings: 'clig' off, 'liga' off;

	/* H2 */
	font-family: 'Roboto';
	font-size: 50px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-transform: capitalize;
}

.text-h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 500;
	font-size: 36px;
	text-transform: uppercase;
}

.header {
}
.top-bg-color {
	background-color: rgba(30, 40, 50, 0.05);
}
.container {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 15px;
}
.header__top-container {
	display: flex;
	justify-content: space-between;
	padding-top: 31px;
	margin-bottom: 10px;
}
.header__search {
	padding-top: 15px;
}
.header__options {
	display: flex;
	padding-top: 15px;
}
.header__options-account {
	margin-right: 22px;
}
.header__options-account:last-child {
	margin: 0;
}

.header__top-container-floor {
	max-width: 1320px;
	height: 1px;
	background-color: #e3e3e3;
	margin: 0 auto;
}
.header__menu {
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}
.header__menu-option {
	font-family: 'Open Sans';
	color: var(--Dark, #000);
	font-feature-settings: 'clig' off, 'liga' off;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 24px; /* 150% */
	text-transform: capitalize;
}
.main {
}
.shopping__intro {
	display: flex;
	padding-top: 81px;
}
.shopping__intro-info {
	margin-right: 98px;
}
.shopping__intro-info-h2 {
	font-family: 'Roboto';
	padding-top: 74px;
	font-size: 74px;
	font-style: normal;
	font-weight: 300;
	line-height: 55px; /* 74.324% */
	text-transform: capitalize;
}
.shopping__intro-info-text {
	padding-top: 52px;
	margin-bottom: 66px;
	color: var(--Dark, #000);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: 'Roboto';
	font-size: 30px;
	font-style: normal;
	font-weight: 400;
	line-height: 55px; /* 183.333% */
	text-transform: capitalize;
}
.shopping__intro-btn {
	background: var(--Black, #1E2832);
	display: inline-flex;
	border: none;
	box-shadow: none;
	padding: 19px 26px;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-family: 'Roboto';
	font-size: 29px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
}
.shopping__intro-image {
	position: relative;
}
.shopping__intro-pic {
	position: relative;
	max-width: 424px;
	max-height: 542px;
	border-radius: 0 0 160px 0;
	z-index: 10;	
	margin-bottom: 80px;
}
.shopping__intro-btn:hover {
	background-color: orange;
}
.shopping__intro-pic-shadow {
	position: absolute;
	z-index: 1;
	top: 20px;
	left: 15px;
	width: 424px;
	height: 542px;
	border-radius: 160px 0px;
	border: 2px solid var(--Dark-25, rgba(0, 0, 0, 0.25));
}

.anime__outfit {
}
.anime__outfit-logos {
	display: flex;
	justify-content: space-between;
	padding-top: 90px;
}
.anime__outfit-logo {
}
.anime__outfit-style-examples {
}
.anime__outfit-style-example {
}
